.dashboard {
  text-align: center;
  padding: 20px;
  width: 100%; /* Убедимся, что dashboard занимает доступное пространство */
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем содержимое внутри dashboard */
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}